<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleEditView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19073EC71E52722000A8BBC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19073EDB1E52722000A8BBC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19073EE61E52722000A8BBC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
